@font-face {
	font-family: myFirstFont;
	src: url(BOOTERFF.ttf);
}

body {
	background-image: url('shark.jpg');
	font-family: myFirstFont;
	color: white;
}
h2 {
	text-align: center;
	margin: 0px auto;
	font-size: 5em;
}

h1 {
	text-align: center;
}

#game {
	margin: 0px auto;
	max-width: 750px;
}

.box {
	float: left;
	width: 220px;
	height: 220px;
	background-image: url('Treasurechest.png');
	margin: 10px 10px;
}

#turns {
	color: white;
	clear: left;
	text-align: center;
	font-size: 3em;
}


